.box {
  background-color: #fff;
  border: 2px solid $gray-highlight;
  @include rem(20, "margin-bottom");
  text-align: left;
  padding: $base-spacing-unit*2 $base-spacing-unit;
  position: relative;
  opacity: 0.3;
  &__icon {
    max-width: 80px;
    display: inline-block;
    vertical-align: middle;
    @include rem(20, "margin-right");
  }
  &__description {
    display: inline-block;
    vertical-align: middle;
    @include rem(22);
    max-width: 690px;
  }
  &__button {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
  }
  &--enabled {
    opacity: 1;
  }
}
