.box {
  background-color: #fff;
  border: 2px solid $gray-highlight;
  @include rem(20, "margin-bottom");
  text-align: left;
  padding: $base-spacing-unit*2 $base-spacing-unit;
  position: relative;
  opacity: 0.3;
  &__icon {
    max-width: 80px;
    display: inline-block;
    vertical-align: middle;
    @include rem(20, "margin-right");
  }
  &__description {
    display: inline-block;
    vertical-align: middle;
    @include rem(22);
    max-width: 690px;
  }
  &__button {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
  }
  &--enabled {
    opacity: 1;
  }
  &--dashboard {
    padding: $base-spacing-unit*2;
    opacity: 1;
    @include rem(40, "margin-bottom");
  }
  &-message {
    background-color: #fff;
    @include rem(35, "margin-bottom");
    &__header {
      background-color: $blue;
      padding: $base-spacing-unit;
      text-align: center;
      position: relative;
      &-title {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        @include rem(22);
      }
    }
    &__icon {
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    &__body {
      padding: $base-spacing-unit;
    }
  }
  &__form {
    background-color: $gray-highlight;
    width: 400px;
    margin: 0 auto $base-spacing-unit*3;
    position: relative;
    border-radius: 4px;
    top: -50px;
    &-header {
      padding: $half-spacing-unit;
      border-bottom: 1px solid $gray-bckgr;
      background-color: $green;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      &-icon {
        max-width: 55px;
        display: inline-block;
        vertical-align: middle;
        margin-right: $half-spacing-unit;
      }
      &-title {
        color: #fff;
        @include rem(24);
        display: inline-block;
        vertical-align: middle;
      }
    }
    &-body {
      padding: $base-spacing-unit;
    }
    &-select {
      &-group {
        display: inline-block;
        width: 12%;
        &--first {
          width: 70%;
          margin-right: 10px;
        }
      }
    }
  }
}
