.card {
	background: #F2F0F0;
	margin: 0 auto 60px;
	width: 90%;
	position: relative;
	border: 1px solid rgba($gray, 0.1);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: 0.2s;
	&:hover {
		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	}
	&__header {
		background-color: $dark-blue;
		color: #fff;
		@include rem(30);
		padding: 15px $base-spacing-unit*2 15px 290px;
		text-align: left;
		&-price {
			float: right;
			@include rem(25);
			position: relative;
			top: 4px;
			@media screen and (max-width: 767px) {
			  @include rem(21);
			  display: block;
			  float: initial;
			}
		}
		@media screen and (max-width: 767px) {
		  min-height: 114px;
		  padding: 12px 44px 15px 115px;
		  @include rem(21);
		}
	}
	&__body {
		padding: $base-spacing-unit;
		min-height: 230px;
	}
	&__image {
		background-color: #fff;
		width: 200px;
		height: 230px;
		position: absolute;
		top: -30px;
		left: 70px;
		-webkit-box-shadow: 3px 2px 20px -2px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 2px 20px -2px rgba(0,0,0,0.75);
		box-shadow: 3px 2px 20px -2px rgba(0,0,0,0.75);
		@media screen and (max-width: 767px) {
		  width: 80px;
			height: 80px;
			top: 15px;
			left: 20px;
		}
	}
	&__description {
		max-width: 450px;
		color: $gray-text;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	&__subjects {
		color: $gray-text;
		&-title {
			font-weight: 700;
			margin-right: $half-spacing-unit/2;
		}
	}
}

.cards-container {
	padding: $base-spacing-unit*3 0 $base-spacing-unit;
}