.dropdown {
	&-header {
		top: 58px !important;
		font-family: $font-family-sans-serif;
		&__menu {
			li {
				font-size: 0.93rem !important;
				cursor: pointer !important;
			}
		}
		&__link {
			width: 100%;
			display: inline-block;
		}
	}
}

.rc-dropdown-menu > .rc-dropdown-menu-item-selected:after {
  content: '';
}

.rc-dropdown-menu-item {
	a {
		color: #666;
	}
}
