.main-form {
  &__label {
    color: $gray-label;
    @include rem(14);
    margin: 0;
    font-weight: 300;
    display: block;
    text-align: left;
  }
  &__input {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 4px;
    height: 45px;
    padding: 0 $half-spacing-unit;
  }
}