.hero {
  background: url("../images/hero.png") center no-repeat;
  background-size: cover;
  padding: $base-spacing-unit*4 0;
  background-color: $gray-bckgr;
  &__title {
    color: #fff;
    font-family: $font-family-serif;
    max-width: 280px;
    text-align: right;
    font-weight: 700;
    @include rem(46);
    margin: 0;
  }
  &__tutor {
    background: url("../images/hero-tutor.png") center no-repeat;
    background-size: cover;
    min-height: 422px;
    position: relative;
    &-title {
      color: #fff;
      font-family: $font-family-serif;
      text-align: right;
      max-width: 280px;
      font-weight: 700;
      margin: auto;
      line-height: 1;
      @include rem(58);
      display: inline-block;
      margin: 0 1.25rem 0 0;
      vertical-align: top;
      &-container {
        position: absolute;
        top: 50px;
        right: 180px;
      }
    }
    &--universities {
      background: url("../images/hero_universities.png") center no-repeat;
      background-size: cover;
    }
    &-title-center {
      color: #fff;
      font-family: $font-family-serif;
      @include rem(64);
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -108%);
      width: 100%;
    }
    &-description {
      color: #fff;
      line-height: 1;
      display: inline-block;
      @include rem(18);
      max-width: 180px;
      text-align: left;
      vertical-align: top;
      position: relative;
      top: 20px;
    }
    &-selector {
      height: 50px;
      width: 240px;
      &--large {
        width: 440px;
      }
      &-container {
        position: absolute;
        top: 260px;
        right: 110px;
      }
      &-button {
        background-color: $dark-green;
        color: #fff;
        font-family: $font-family-serif;
        @include rem(32);
        font-weight: 700;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 5px 35px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          color: #000;
        }
      }
      &-icon {
        max-width: 81px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &-input {
      height: 50px;
      width: 440px;
      padding: 0 30px 0 20px;
      @include rem(18);
    }
  }
  &__step-to-step {
    background: url("../images/steptostep-bckg.png") center no-repeat;
    background-size: cover;
    background-color: $gray-bckgr;
    padding: $base-spacing-unit*2 0 $base-spacing-unit*6;
    &-title {
      text-align: center;
      color: #fff;
      font-family: $font-family-serif;
      font-weight: 700;
      @include rem(68);
      line-height: 0.8;
      margin: 0;
      &:first-child {
        @include rem(80, 'margin-top');
      }
    }
    &-subtitle {
      color: #fff;
      @include rem(13);
      font-family: $font-family-serif;
      display: inline-block;
      @include rem(10, 'margin-top');
    }
  }
  &__universities {
    text-align: center;
    background: url("../images/hero_universities.png") center no-repeat;
    background-size: cover;
    background-color: $gray-bckgr;
    padding: $half-spacing-unit 0 $base-spacing-unit*12;
    &-title {
      color: #fff;
      font-family: $font-family-serif;
      font-weight: 700;
      @include rem(66);
      margin-bottom: $half-spacing-unit;
    }
    &-description {
      color: #fff;
      @include rem(20);
    }
  }
  &__find-tutor {
    background: url("../images/hero-find-tutor.png") center no-repeat;
    background-size: cover;
    min-height: 410px;
    background-color: $gray-bckgr;
    position: relative;
    &-title {
      color: #fff;
      @include rem(68);
      font-family: $font-family-serif;
      font-weight: 700;
      margin: 0;
      position: absolute;
      top: 80px;
      right: 240px;
      max-width: 380px;
      line-height: 0.8;
    }
    &-subtitle {
      color: #fff;
      @include rem(16);
      position: absolute;
      right: 135px;
      top: 160px;
      max-width: 242px;
      line-height: 0.9;
    }
    &-selector {
      background-color: $dark-blue;
      text-align: center;
      padding: $base-spacing-unit 0;
    }
  }
}
